torch==1.9.1
torchvision==0.10.1
torchgeometry
torch-tools
lpips
ftfy
regex
git+https://github.com/openai/CLIP.git
colour-science
kornia
tqdm
scipy
pyrealsense2
tensorboardX==2.1
tensorboard
lpips
opencv-python==4.2.0.32
protobuf==3.17.3
matplotlib
Pillow
scikit-image
roslibpy
gphoto2
requests
future
sklearn
imageio==2.6.1
mock
